<!DOCTYPE html>
<% include ../partials/head %>
<body>
    <div class="mycenter-info1">
        <p>There is nothing on this page.</p>
    </div>
    <div style = "Display:none">
        <!-- This should not be visable:
        ctf7   f6pJCsjoPLjd7vSFZFaHqxe9cJ3iJvX5 -->
    </div>
</body>
</html>