<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/w3-schools.css'>
    <link rel='stylesheet' href='/stylesheets/w3-black.css'>
    <link rel='stylesheet' href='/stylesheets/font-google.css'>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="heading">
      <section class="heading-form-wrap">
        <h1 class = w3-text-teal><%= title %></h1>
        <h4 class="w3-text-teal">Welcome to <%= title %></h4>
      </section>
    </div>
    <section class="login-form-wrap">
      <form class="login-form" action="/register" method="post">
          <div>
              <label>Username:</label>
              <input type="text" name="email" required placeholder="Email"/>
          </div>
          <div>
              <label>Password:</label>
              <input type="password" name="password" required placeholder="Password"/>
          </div>
          <div>
              <input type="submit" value="Log In"/>
          </div>
      </form>
    </section>
  </body>
</html>