<!DOCTYPE html>
<% include partials/head %>
<body>

<!-- Navbar -->
<% include partials/navbar %>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Levels</b></h4>
  <%for(var i = 0; i < data.length; i++)
  {%>
    <a class="w3-bar-item w3-button w3-hover-black" href= <%= "task/" + data[i].url %> title= " <%= data[i].name %> " >Go To <%= data[i].Discription %></a>
  <%}%>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" id="about">About</h1>    
      <h2 class="w3-text-teal" id="audienceforthistrainingprogram">Audience for this training program</h2>
      <p>This program is designed for people that want or must learn the basic usage of Linux. That can be achieved while completing the first eight levels. Than the participant is capable of navigating in Linux, know the most used commands and also knows where to look if he doesn't how a program works.<br>
      But it's also designed for people that want to get in touch with security. They will learn some common tools and even some techniques how some attackers might try to compromise a system.<br>
      To successfully complete this program the participant should already know hat a terminal is, have a basic understanding of how a computer works and how they communicate with each other. Most important: They should have interest in learning these things and have some frustration resistance.</p>

      <h2 class="w3-text-teal" id="goaloftheprogram">Goal of the program</h2>
      <p>After completing the CTF the participant should be familiar with the command line terminal and standard Linux command line utilities. This means the participant can log in to a Linux system, navigate, manage thesystem, edit files and settings and knows where to look if more information about a command is needed.</p>
      <p>The participant should also know how to write a script to automate commands and how to convert binary or other not human readable data intoreadable text. This includes some common encode or hiding techniques forinformation like steganography. Another useful skill that can be achieved by this CTF is how to examine a program to see how it works and what functions it calls. <br /> For networking the participant should know how to discover the runningservices on a remote system. Even more he should know common ways tomanipulate web session (e.g. cookies), capture unencrypted data, or inject own commands.</p>
      <p>The most important thing to take along with this CTF is to know that all these potential attack possibilities exist and learn how to prevent others form using these. Some important guidelines are hash passwords and sterilize user input.</p>

      <h2 class="w3-text-teal" id="treatedtopics">Treated topics</h2>
      <p>The participant will have to handle basic Linux commands and navigation. These skills are necessary to write own scripts for tidiestasks. Remote system management and exploration will also be a basictopic to handle. The scripting language can be ever shell or python. Another treated skill will be some basic understanding of git. Itsadvantages and even its flaws will be discovered. While attending this CTF the participant will use some common hacking and penetration testing tools. Among them nmap, wireshark, john the ripper, hashcat, macchanger. Their basic use and purpose will be shown in thisCTF. The last big topic deals with how to read the code from others, spot itsflaws and can use them for your advantage. This involves reverseengineering, reading and understanding code. If understood you can search for vulnerabilities to inject and run your own code.</p>

      <h2 class="w3-text-teal" id="levelstructure">Level structure</h2>
      <p>The levels are designed in such a way that they are meant to becompleted in chronological order. There is a checkpoint for every taskthat deals with a new subject area. So that experienced participant can skip parts without investing much time on previously acquired skills. Thegoal is to find the password for the next level and complete all levels.</p>
    </div>
  </div>

  <!-- Footer -->
  <% include partials/footer %>

<!-- END MAIN -->
</div>


<!-- Scripts -->
<% include partials/scripts %>

</body>
</html>
